.wrapper {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 13rem;
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  cursor: pointer;
}

.wrapper:hover {
  transform: scale(1.02);
}

.img {
  height: 10rem;
  object-fit: contain;
}

.title {
  font-size: 0.75rem;
  margin: 0.5rem;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
